@use './utils/sass/reset';

body {
    margin: 0;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-weight: 500;
}

#root,
body,
html {
    margin: auto;
    max-width: 1440px;
    min-width: 1024px;
    min-height: 780px;
    height: 100vh;
}
